@media(max-width: 1100px){
    body, header,.home,
    .quizz-info, .quizz-questions, .quizz-levels{
        width: 100%;
    }
    
    .quizz-inputs, .questions, .question, .levels, .level,
    .quizz-page-question, .quizz-page-questions-box{
        width: 100vw;
    }

    

    .create-quizz,
    .all-quizzes,
    .your-quizzes,
    .your-quizzes div,
    .quizz-page,
    .loading-page,
    .quizz-success,
    .quizz-preview,
    .all-quizzes p{
        width: 90%;

        margin: 0 auto;
    }

    .list-all-quizzes{
        display: flex;
        gap: 30px;
    }

    .quizz-input{
        width: 95vw;
    }

    .btn-verify-info,
    .btn-verify-question,
    .btn-verify-levels,
    .btn-quizz-access,
    .quizz-success-image,
    .quizz-page-question > div,
    .quizz-page-result > div{
        width: 90vw;
    }

    .question-title, .result-title{
        width: 100%;
    }

    .result-description-box{
        display: flex;
        flex-direction: column;
    }
    .result-description-box img,
    .result-text{
        width: 100%
    }
}
