* {
    box-sizing: border-box;
}

.hide {
    display: none;
}

header {
    width: 100%;
    height: 69px;
    background: #EC362D;

    position: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 100px 18px;
    padding-bottom: 18px;
}

.create-quizz {
    border: 1px dashed #D4D4D4;
}

.create-quizz p {
    color: #B9B9B9;
}
